body {
   background-color: #CAE6B2;
}

h1 {
    text-align: center;
    color: #8E3E63;
    padding-top: 20px;
}

h2 {
    padding-left: 20px;
    color: #D2649A;
}

h3 {
    color: #F6FAB9;
}

.about {
    padding-left: 50px;

}

.students {
    padding-left: 50px;
}

.students_email {
    padding-bottom: 50px;
}

.links {
    padding-left: 50px;
}

.links_content {
    padding-left: 20px;
}

a {
    color: blue;
}

img {
    max-width: 150px;
    width: 100%;
    height: auto;
}

